body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  padding: 0 16px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------Header----------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

.contacts {
  display: none;
  font-style: normal;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-list {
    /* display: none; */
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-active {
    position: relative;
    color: #404bbf;
  }

  .is-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* --------Hero----------- */
.section-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;

  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .section-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/background-image@2x.jpg);
  }
}

.hero-section {
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

.section-title {
  margin-right: auto;
  margin-left: auto;
  max-width: 216px;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;

  text-align: center;
  color: #fff;
}

.btn {
  padding: 16px 32px;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/background-image.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .section-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/background-image@2x.jpg);
    }
  }

  .section-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .section-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/background-image.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .section-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop/background-image@2x.jpg);
    }
  }

  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

/* -----------Achievement section---------- */

.achievement {
  padding-top: 96px;
  padding-bottom: 96px;
}

.achievement-item {
  width: 288px;
}

.achievement-item:not(:last-child) {
  margin-bottom: 72px;
}

.achievement-icons-area {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.achievements-icons {
  display: block;
}

.achievement-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.72px;
  color: #2e2f42;
}

.achievement-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .achievement-item {
    width: 356px;
  }
  .achievement-list .achievement-item {
    margin-bottom: 0px;
  }

  .achievement-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .achievement-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .achievement-item {
    width: 264px;
    margin-bottom: 0px;
  }

  .achievement-icons-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .achievement-title {
    text-align: start;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
  }

  .achievement-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* ---------Team section----------- */
.team {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.team-item:not(:last-child) {
  margin-bottom: 74px;
}

.team-item {
  width: 264px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-block {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-link-icons {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:hover,
.team-link-icons:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .team .container {
    padding: 0 28px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .team-list .team-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ---------Portfolio section-------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  width: 288;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-app {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list .portfolio-item {
    margin-bottom: 0;
  }

  .portfolio-item {
    width: 356px;
  }

  .portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ---------Footer-------------- */

.footer {
  padding-top: 97.5px;
  padding-bottom: 96px;

  background: #2e2f42;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 17.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer-text {
  width: 288px;

  margin-bottom: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* .footer-social-links {
  margin-right: 80px;
} */

.footer-social-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

/* .page-footer {
  display: flex;
  align-items: baseline;
} */

.footer-link-icons {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: #31d0aa;
}

/* .subscribe-flex-container {
  display: flex;

  gap: 24px;
} */

.subscribe-text {
  color: #ffffff;
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.subscribe-email {
  width: 288px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  /* margin-right: 24px; */

  color: #fff;
  font-family: Roboto;
  font-size: 12px;

  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-email:focus {
  outline: transparent;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 584px;
  }
  .footer-logo {
    text-align: start;
  }
  .container-footer-tablet {
    display: flex;
  }

  .footer-text {
    width: 264px;
    margin-right: 24px;
  }

  .footer-social-text {
    text-align: start;
  }

  .subscribe-flex-container {
    display: flex;
    gap: 24px;
  }

  .subscribe-btn {
    margin: 0;
  }

  .subscribe-text {
    text-align: start;
  }

  .subscribe-email {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }
  .page-footer {
    display: flex;
  }

  .footer-text {
    margin-bottom: 0;
    margin-right: 120px;
  }

  .footer-social-links {
    margin-right: 80px;
  }

  .footer-social-list {
    margin-bottom: 0;
  }
}
/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-fild-wrapper {
  margin-bottom: 8px;
}

.modal-user-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-user-wrapper {
  position: relative;
}

.modal-user-names {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 38px;

  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-names-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: #2e2f42;
}

.modal-user-names:focus {
  border-color: #4d5ae5;
}

.modal-user-names-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-names:focus + .modal-user-names-icon {
  fill: #4d5ae5;
}

.modal-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-textarea {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.48px;
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-checkbox {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-checkbox-privecy:checked + .modal-checkbox .checkbox {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link {
  color: #4d5ae5;

  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.modal-btn {
  display: block;
  margin: auto;
  min-width: 169px;

  padding: 16px 32px;

  border-radius: 4px;
  border: transparent;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #404bbf;
}

/* Burger menu  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-mobile-menu {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.mobile-menu .container {
  padding-top: 72px;
  padding-bottom: 40px;
  position: relative;
}

.mobile-menu-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-list {
  margin-bottom: 168px;
}

.mobile-address-link {
  color: #434455;

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}

.mobile-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-address-list {
  margin-bottom: 48px;
}

.mobile-menu .team-list-icons {
  gap: 40px;
}
